.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(241, 222, 213, 0.96);
  display: none;
  align-items: center;
  justify-content: center;
  background-image: url("http://localhost/menubootstrap/imagem/fundo2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
}

.popup-content {
  width: 40%;
  height: auto;
  background: rgb(227, 248, 250);
  color: black;
  border: 2px solid black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  font-family: "Calibri", sans-serif;
}

button {
  margin-top: 10px;
}

.row {
  width: 85%;
}
